<div class="row" [@fadeInOut]>
    <div class="col-sm-12" style="text-align: center;">
        <h6>Mechandizing | Debt Tracker</h6>
    </div>
    <div class="col-sm-12" style="background-image: linear-gradient(#FDFEFE ,#BDC3C7);">
        <div class="row">
            <div class="col-sm-4">
                <a routerLink="/home"><button class="btn" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="fas fa-home"></i><br>Home</button></a>
                <button class="btn"style="margin: 2px; width: 30mm;" (click)="createShortCut('Debt Tracker', 'debt-tracker')" data-mdb-toggle="tooltip" title="Create a page shortcut on user's Dashboard"><i class="fas fa-external-link-alt"></i><br>Shortcut</button>
            </div>
        </div>
    </div>
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: right;">SalesAgent</td>
                                            <td style="padding: 0;">
                                                <input type="text" [(ngModel)]="salesAgentNo" class="form-control special" placeholder="SalesAgent No" readonly>
                                                <select [(ngModel)]="salesAgentName" (ngModelChange)="searchSalesAgent(salesAgentName)" class="form-control input-sm">
                                                    <option></option>
                                                    <option *ngFor="let c of salesAgentNames">{{c}}</option>
                                                </select>
                                            </td>
                                        </tr>                        
                                    </tbody>
                                </table>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Debt No</td><td>Status</td><td>Balance</td>
                                        </tr>
                                        <tr *ngFor="let i of debts">
                                            <td>{{i.no}}</td>
                                            <td>{{i.status}}</td>
                                            <td style="text-align: right;">{{i.balance | currency:'':''}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-4"></div>                                      
                        </div>
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
</div>