<div class="row" [@fadeInOut]>
    <div class="col-sm-12" style="text-align: center;">
        <h6>Settings | VAT Group</h6>
    </div>
    <div class="col-sm-12" style="background-image: linear-gradient(#FDFEFE ,#BDC3C7);">
        <a routerLink="/home"><button class="btn" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="fas fa-home"></i><br>Home</button></a>
        <button class="btn" (click)="clearFields()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Create a new VAT Group"><i class="fa-solid fa-file fa-fw"></i><br>New</button>
        <button class="btn" (click)="unlockAll()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Edit an existing VAT Group"><i class="fa-solid fa-edit fa-fw"></i><br>Edit</button>
        <button class="btn" (click)="clearFields()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Delete an existing VAT Group"><i class="fa-solid fa-times"></i><br>Clear</button>
        <button class="btn" (click)="delete()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Delete an existing VAT Group"><i class="fa-solid fa-trash"></i><br>Delete</button>
        <button class="btn" (click)="save()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Save or Update an existing VAT Group"><i class="fa-solid fa-save fa-fw"></i><br>Save</button>
    </div>

    <div class="col-md-6">
        <br>
        <input type="hidden" [(ngModel)]="id">
        <div class="row">
            <div class="col-4 float-end" style="text-align: right;">
                <label>Code</label>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="code" list="codes" class="form-control special" [readonly]="nameLocked" autocomplete="disabled">
                <datalist id="names" style="padding: 0px;">
                    <option *ngFor="let c of codes" [ngValue]="c">{{c}}</option>
                </datalist>                             
            </div>
        </div>
        <div class="row">
            <div class="col-4 float-end" style="text-align: right;">
                <label>Value</label>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="value" class="form-control special" [readonly]="inputsLocked" autocomplete="disabled">                            
            </div>
        </div>
        
        <div class="row">
            <div class="col-4 float-end" style="text-align: right;">
                <label>Description</label>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="description" class="form-control special" [readonly]="inputsLocked" autocomplete="disabled">                             
            </div>
        </div>
        

    </div>

    <div class="col-md-6">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <td>Code</td>                
                    <td>Value</td>
                    <td>Description</td>
                    <td>Select</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of vatGroups">
                    <td>{{v.code}}</td>
                    <td>{{v.value}}</td>
                    <td>{{v.description}}</td>
                    <td><span (click)="get(v.id)" style="cursor: pointer;">[Select]</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>