<div class="row" [@fadeInOut]>
    <div class="col-sm-12" style="text-align: center;">
        <h6>Mechandizing | Sales Receipt</h6>
    </div>
    <div class="col-sm-12" style="background-image: linear-gradient(#FDFEFE ,#BDC3C7);">
        <a routerLink="/home"><button class="btn" (click)="clear()" (click)="unlockAll()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="fas fa-home"></i><br>Home</button></a>
        <button class="btn" style="margin: 2px; width: 20mm;" (click)="showList(listContent)" data-mdb-toggle="tooltip" title="View List for selection"><i class="fas fa-list"></i><br>List</button>
        <button class="btn" (click)="clear()" (click)="unlockAll()" (click)="requestNo()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Create a new Sales Receipt"><i class="fa-solid fa-file fa-fw"></i><br>New</button>
        <button class="btn" (click)="unlockAll()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Edit an existing Sales Receipt"><i class="fa-solid fa-edit fa-fw"></i><br>Edit</button>
        <button (click)="save()" class="btn"style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Save or Update an existing Sales Receipt"><i class="fa-solid fa-save fa-fw"></i><br>Save</button>
        <button class="btn"style="margin: 2px; width: 20mm;" (click)="cancel(id)" data-mdb-toggle="tooltip" title="Cancel a Pending Sales Receipt"><i class="fa-solid fa-times fa-fw"></i><br>Cancel</button>
        <button class="btn"style="margin: 2px; width: 20mm;" (click)="approve(id)" data-mdb-toggle="tooltip" title="Approve a Pending Sales Receipt"><i class="fa-solid fa-check fa-fw"></i><br>Approve</button>
        <button class="btn"style="margin: 2px; width: 20mm;" (click)="exportToPdf()" data-mdb-toggle="tooltip" title="Export document to PDF"><i class="fas fa-file-pdf"></i><br>PDF</button>
        <button (click)="archive(id)" class="btn"style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Send an Approved Sales Receipts to archives for future reference"><i class="fas fa-file-archive"></i><br>Archive</button>
        <button (click)="archiveAll()" class="btn"style="margin: 2px; width: 30mm;" data-mdb-toggle="tooltip" title="Send all Approved Sales Receipts to archives for future reference"><i class="fas fa-file-archive"></i><br>Archive All</button>
        <button class="btn"style="margin: 2px; width: 30mm;" (click)="createShortCut('Sales Receipts', 'sales-receipts')" data-mdb-toggle="tooltip" title="Create a page shortcut on user's Dashboard"><i class="fas fa-external-link-alt"></i><br>Shortcut</button>
    </div>
    <div class="col-sm-12">
        <br><br>
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4">
                        <small>Receipt#</small>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-8">
                                <input type="text" [(ngModel)]="no" class="form-control special" [readonly]="receiptNoLocked">
                            </div>
                            <div class="col-4">
                                <button class="btn btn-success" (click)="getByNo(no)" style="margin: 2px; width: 26mm;"><i class="fas fa-search"></i>Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <small>Select Customer</small>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" [(ngModel)]="customerNo" class="form-control special" placeholder="Customer No" readonly>
                        <select [(ngModel)]="customerName" (ngModelChange)="searchCustomer(customerName)" class="form-control input-sm" [disabled]="inputsLocked">
                            <option></option>
                            <option *ngFor="let c of customerNames">{{c}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <small>Mode of Payment</small>
                    </div>
                    <div class="col-sm-8">
                        <select [(ngModel)]="mode" class="form-control input-sm" [disabled]="inputsLocked">
                            <option></option>
                            <option>Cash</option>
                            <option>Cheque</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <small>Check No</small>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" [(ngModel)]="chequeNo" class="form-control special" [readonly]="inputsLocked">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <small>Amount</small>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" [(ngModel)]="amount" class="form-control special" style="text-align: right; font-family: 'Courier New', Courier, monospace; font-weight: bold;" [readonly]="inputsLocked">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <small>Comments</small>
                        <textarea [(ngModel)]="comments" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-3">
                        <small>Status</small>
                    </div>
                    <div class="col-9">
                        <small>{{status}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <small>Created</small>
                    </div>
                    <div class="col-9">
                        <small>{{created}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <small>Approved</small>
                    </div>
                    <div class="col-9">
                        <small>{{approved}}</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <hr>
</div>

<ng-template #listContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sales Receipt List</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12" style="height: 10cm; overflow: auto;">
                <table class="table table-bordered">
                    <thead style="position: sticky; top: 0;">
                        <tr class="table-dark">
                            <td>Receipt No</td>
                            <td>Status</td>
                            <td>Select</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rec of receipts">
                            <td>{{rec.no}}</td>
                            <td>{{rec.status}}</td>
                            <td><span (click)="get(rec.id)" (click)="modal.close('Select click')" style="cursor: pointer;">[Select]</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <div class="modal-footer">
      
    </div>
</ng-template>
