<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Mechandizing | Sales List</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div> 
                        <a routerLink="/home"><button class="btn" (click)="clear()" (click)="unlockAll()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="fas fa-home"></i><br>Home</button></a>
                        <button class="btn" style="margin: 2px; width: 20mm;" (click)="showList(listContent)" data-mdb-toggle="tooltip" title="View List for selection"><i class="fas fa-list"></i><br>List</button>
                        <button class="btn" (click)="unlockAll()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Edit an existing Sales List"><i class="fa-solid fa-edit fa-fw"></i><br>Edit</button>
                        <button (click)="save()" class="btn"style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Save or Update an existing Sales List"><i class="fa-solid fa-save fa-fw"></i><br>Save</button>
                        <button class="btn"style="margin: 2px; width: 20mm;" (click)="cancel(id)" data-mdb-toggle="tooltip" title="Cancel a Pending Sales List"><i class="fa-solid fa-times fa-fw"></i><br>Cancel</button>
                        <button class="btn"style="margin: 2px; width: 20mm;" (click)="approve(id)" data-mdb-toggle="tooltip" title="Approve a Pending Sales List"><i class="fa-solid fa-check fa-fw"></i><br>Approve</button>
                        <button class="btn"style="margin: 2px; width: 20mm;" (click)="exportToPdf()" data-mdb-toggle="tooltip" title="Export document to PDF"><i class="fas fa-file-pdf"></i><br>PDF</button>
                        <button class="btn"style="margin: 2px; width: 20mm;" (click)="exportToPdfX()" data-mdb-toggle="tooltip" title="Export document to PDF"><i class="fas fa-file-pdf"></i><br>PDF-X</button>
                        <button (click)="archive(id)" class="btn"style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Send an Approved Sales List to archives for future reference"><i class="fas fa-file-archive"></i><br>Archive</button>
                        <button (click)="archiveAll()" class="btn"style="margin: 2px; width: 30mm;" data-mdb-toggle="tooltip" title="Send all Approved Sales List to archives for future reference"><i class="fas fa-file-archive"></i><br>Archive All</button>
                        <button class="btn"style="margin: 2px; width: 30mm;" (click)="createShortCut('Sales List', 'sales-list')" data-mdb-toggle="tooltip" title="Create a page shortcut on user's Dashboard"><i class="fas fa-external-link-alt"></i><br>Shortcut</button>
                    </div>
                </div>
                <div class="panel-body" style="padding: 3mm;">
                    <div class="row" [@fadeInOut]>
                        <div class="col-sm-12">
                            <br><br>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Sales List#</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-8">
                                                    <input type="text" [(ngModel)]="no" class="form-control special" [readonly]="slstNoLocked">
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-success" (click)="getByNo(no)" style="margin: 2px; width: 26mm;"><i class="fas fa-search"></i>Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Customer</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="customerNo" class="form-control special" readonly>
                                            <input type="text" [(ngModel)]="customerName" class="form-control special" readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Sales Agent</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="salesAgentNo" class="form-control special" readonly>
                                            <input type="text" [(ngModel)]="salesAgentName" class="form-control special" readonly>
                                        </div>
                                    </div>              
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Amount Packed</small>
                                        </div>
                                        <div class="col-sm-8" style="text-align: right;">
                                            <small style="text-align: right;">{{totalAmountPacked | currency:'':''}}</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Sales</small>
                                        </div>
                                        <div class="col-sm-8" style="text-align: right;">
                                            <small style="text-align: right;">{{totalSales | currency:'':''}}</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Offered</small>
                                        </div>
                                        <div class="col-sm-8" style="text-align: right;">
                                            <small style="text-align: right;">{{totalOffered | currency:'':''}}</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Returns</small>
                                        </div>
                                        <div class="col-sm-8" style="text-align: right;">
                                            <small style="text-align: right;">{{totalReturns | currency:'':''}}</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Damages</small>
                                        </div>
                                        <div class="col-sm-8" style="text-align: right;">
                                            <small style="text-align: right;">{{totalDamages | currency:'':''}}</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Discounts</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="totalDiscounts" class="form-control special" style="text-align: right;" [readonly]="valuesLocked">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Expenses</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="totalExpenditures" class="form-control special" style="text-align: right;" [readonly]="valuesLocked">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Commission</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="totalCommission" class="form-control special" style="text-align: right;" [readonly]="valuesLocked">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Bank</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="totalBank" class="form-control special" style="text-align: right;" [readonly]="valuesLocked">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <small>Total Cash</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="totalCash" class="form-control special" style="text-align: right;" [readonly]="valuesLocked">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <button (click)="calculateTotalDeficit()">Total Deficit</button>
                                        </div>
                                        <div class="col-sm-8" style="text-align: right;">
                                            <small style="text-align: right;">{{totalDeficit | currency:'':''}}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <small>Comments</small>
                                            <textarea [(ngModel)]="comments" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-3">
                                            <small>Status</small>
                                        </div>
                                        <div class="col-9">
                                            <small>{{status}}</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <small>Created</small>
                                        </div>
                                        <div class="col-9">
                                            <small>{{created}}</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <small>Approved</small>
                                        </div>
                                        <div class="col-9">
                                            <small>{{approved}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <hr>
                        <div class="col-12">
                            <span  class="badge bg-default" *ngIf="status === 'PENDING'" style="cursor: pointer; border-radius: 4mm;" (click)="show(add)">+</span>
                            <span  class="badge bg-default" *ngIf="status === 'PENDING'" style="cursor: pointer; border-radius: 4mm;" (click)="downloadFromSalesSheet(id)">Download</span>
                        </div>
                        <div class="col-12">
                            <table class="table table-bordered table-striped">
                                <thead style="background-image: linear-gradient(#FDFEFE ,#BDC3C7);">
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Price(Incl)</th>
                                        <th>Total Packed</th>
                                        <th>Qty Sold</th>
                                        <th>Qty Offered</th>
                                        <th>Qty Returned</th>
                                        <th>Qty Damaged</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of salesListDetails">
                                        <td>{{d.product.code}}</td>
                                        <td>{{d.product.description}}</td>
                                        <td style="text-align: right;">{{d.sellingPriceVatIncl | currency:'':''}}</td>
                                        <td><span *ngIf="d.totalPacked === 0">-</span><span *ngIf="d.totalPacked != 0">{{d.totalPacked}}</span><span (click)="showChangeQty(changeQty, d.product.id, d.id)" *ngIf="status === 'PENDING'" class="badge badge-default" style="cursor: pointer;">c</span></td>
                                        <td><span *ngIf="d.qtySold === 0">-</span><span *ngIf="d.qtySold != 0">{{d.qtySold}}</span></td>
                                        <td><span *ngIf="d.qtyOffered === 0">-</span><span *ngIf="d.qtyOffered != 0">{{d.qtyOffered}}</span></td>
                                        <td><span *ngIf="d.qtyReturned === 0">-</span><span *ngIf="d.qtyReturned != 0">{{d.qtyReturned}}</span></td>
                                        <td><span *ngIf="d.qtyDamaged === 0">-</span><span *ngIf="d.qtyDamaged != 0">{{d.qtyDamaged}}</span></td>
                                        <td><span *ngIf="status === 'PENDING'" style="cursor: pointer;" (click)="open(content, d.product.id, d.id)"><i class="fas fa-pencil"></i></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>

                 
            </div>
        </div>
    </div>
</section> <!-- /.content -->

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add/Edit Product</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="text-align: right;">Barcode</td>
                    <td>{{barcode}}</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Code</td>
                    <td>{{code}}</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Description</td>
                    <td>{{description}}</td>
                </tr> 
                <tr>
                    <td style="text-align: right;">Price</td>
                    <td style="text-align: right; font-weight: bold;">{{sellingPriceVatIncl | currency:'':''}}</td>
                </tr>
                <hr>
                <tr>
                    <td style="text-align: right;">Qty Packed</td><td style="padding: 0;"><input type="text" [(ngModel)]="totalPacked" class="form-control special" readonly></td>
                </tr>
                <hr>
                <tr>
                    <td style="text-align: right;">Qty Sold</td><td style="padding: 0;"><input type="text" [(ngModel)]="qtySold" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Qty Offered</td><td style="padding: 0;"><input type="text" [(ngModel)]="qtyOffered" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Qty Returned</td><td style="padding: 0;"><input type="text" [(ngModel)]="qtyReturned" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Qty Damaged</td><td style="padding: 0;"><input type="text" [(ngModel)]="qtyDamaged" class="form-control special"></td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      <button type="button" (click)="saveDetail()" (click)="modal.close('Save click')" class="btn btn-outline-dark">Update</button>
    </div>
</ng-template>


<ng-template #changeQty let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change Qty</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="text-align: right;">Barcode</td>
                    <td>{{barcode}}</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Code</td>
                    <td>{{code}}</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Description</td>
                    <td>{{description}}</td>
                </tr> 
                <tr>
                    <td style="text-align: right;">Price</td>
                    <td style="text-align: right; font-weight: bold;">{{sellingPriceVatIncl | currency:'':''}}</td>
                </tr>
                <hr>
                <tr>
                    <td style="text-align: right;">Original Qty</td><td style="padding: 0;"><input type="text" [(ngModel)]="totalPacked" class="form-control special" readonly></td>
                </tr>
                <hr>
                <tr>
                    <td style="text-align: right;">New Qty</td><td style="padding: 0;"><input type="text" [(ngModel)]="finalQty" class="form-control special"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="change()" (click)="modal.close('Save click')" class="btn btn-outline-dark">Save</button>
    </div>
</ng-template>



<ng-template #listContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sales List List</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12" style="height: 10cm; overflow: auto;">
                <table class="table table-bordered">
                    <thead style="position: sticky; top: 0;">
                        <tr class="table-dark">
                            <td>Sales List#</td>
                            <td>Sales Agent/Route</td>
                            <td>Customer</td>
                            <td>Status</td>
                            <td>Select</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let slst of salesLists">
                            <td>{{slst.no}}</td>
                            <td>{{slst.salesAgent.name}}</td>
                            <td>{{slst.customer.name}}</td>
                            <td>{{slst.status}}</td>
                            <td><span (click)="get(slst.id)" (click)="modal.close('Select click')" style="cursor: pointer;">[Select]</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      
    </div>
</ng-template>

<ng-template #add let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Product(Sales List Amendment)</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="text-align: right;">Barcode</td>
                    <td style="padding: 0;">
                        <table>
                            <tbody>
                                <tr>
                                    <td><input type="text" [(ngModel)]="barcode" class="form-control special"></td><td><button (click)="searchProduct(barcode, code, description)" style="margin: 1mm;">Search</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Code</td><td style="padding: 0;"><input type="text" [(ngModel)]="code" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Description</td>
                    <td style="padding: 0;">
                        <input type="text" [(ngModel)]="description" list="descriptions" class="form-control special">
                        <datalist id="descriptions" style="padding: 0px;">
                            <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
                        </datalist>
                    </td>
                </tr> 
                <tr>
                    <td style="text-align: right;">Price</td>
                    <td style="padding: 0;">
                        <table>
                            <tbody>
                                <tr>
                                    <td><input type="text" [(ngModel)]="sellingPriceVatIncl" class="form-control special" style="text-align: right;" [readonly]="disablePriceChange"></td><td><button (click)="enablePriceChange()" style="margin: 1mm;"><i class="far fa-edit"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <hr>
                <tr>
                    <td style="text-align: right;">Qty Packed</td><td style="padding: 0;"><input type="text" [(ngModel)]="totalPacked" class="form-control special"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="addDetail()" (click)="modal.close('Save click')" class="btn btn-outline-dark">Add</button>
    </div>
</ng-template>

