<div class="row" [@fadeInOut]>
    <div class="col-sm-12" style="text-align: center;">
        <h6>Mechandizing | GRN</h6>
    </div>
    <div class="col-sm-12" style="background-image: linear-gradient(#FDFEFE ,#BDC3C7);">
        <a routerLink="/home"><button class="btn" (click)="clear()" (click)="unlockAll()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="fas fa-home"></i><br>Home</button></a>
        <button class="btn" style="margin: 2px; width: 20mm;" (click)="showList(listContent)" data-mdb-toggle="tooltip" title="View GRN List for selection"><i class="fas fa-list"></i><br>List</button>
        <button class="btn" (click)="clear()" (click)="unlockAll()" (click)="requestNo()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Create a new GRN"><i class="fa-solid fa-file fa-fw"></i><br>New</button>
        <button class="btn" (click)="unlockAll()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Edit an existing GRN"><i class="fa-solid fa-edit fa-fw"></i><br>Edit</button>
        <button (click)="save()" class="btn"style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Save or Update an existing GRN"><i class="fa-solid fa-save fa-fw"></i><br>Save</button>
        <button class="btn"style="margin: 2px; width: 20mm;" (click)="cancel(id)" data-mdb-toggle="tooltip" title="Cancel a GRN"><i class="fa-solid fa-times fa-fw"></i><br>Cancel</button>
        <button class="btn"style="margin: 2px; width: 20mm;" (click)="approve(id)" data-mdb-toggle="tooltip" title="Approve a Pending GRN"><i class="fa-solid fa-check fa-fw"></i><br>Approve</button>
        <button class="btn"style="margin: 2px; width: 20mm;" (click)="exportToPdf()" data-mdb-toggle="tooltip" title="Export document to PDF"><i class="fas fa-file-pdf"></i><br>PDF</button>
        <button (click)="archive(id)" class="btn"style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Send a Received GRN to archives for future reference"><i class="fas fa-file-archive"></i><br>Archive</button>
        <button (click)="archiveAll()" class="btn"style="margin: 2px; width: 30mm;" data-mdb-toggle="tooltip" title="Send all Received GRNs to archives for future reference"><i class="fas fa-file-archive"></i><br>Archive All</button>
        <button class="btn"style="margin: 2px; width: 30mm;" (click)="createShortCut('GRN', 'grn')" data-mdb-toggle="tooltip" title="Create a page shortcut on user's Dashboard"><i class="fas fa-external-link-alt"></i><br>Shortcut</button>
    </div>
    <hr>
    <div class="col-sm-12">
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-3">
                        <small>GRN#</small>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-8">
                                <input type="text" [(ngModel)]="no" class="form-control special" [readonly]="grnNoLocked">
                            </div>
                            <div class="col-4">
                                <button class="btn btn-success" (click)="getByNo(no)" style="margin: 2px; width: 26mm;"><i class="fas fa-search"></i>Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <small>Order#</small>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-8">
                                <input type="text" [(ngModel)]="orderNo" class="form-control special" [readonly]="inputsLocked">
                            </div>
                            <div class="col-4">
                                <button *ngIf="id === '' || id === null" class="btn btn-success" (click)="createGrn()" style="margin: 2px; width: 26mm;"><i class="fa-solid fa-book-open"></i>Create</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <small>Invoice#</small>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="invoiceNo" class="form-control special"  [readonly]="inputsLocked">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <small>Invoice Amnt</small>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" [(ngModel)]="invoiceAmount" class="form-control special" style="text-align: right;" [readonly]="inputsLocked">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <small>Comments</small>
                        <textarea [(ngModel)]="comments" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-3">
                        <small>Status</small>
                    </div>
                    <div class="col-9">
                        <small>{{status}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <small>Created</small>
                    </div>
                    <div class="col-9">
                        <small>{{created}}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <small>Approved</small>
                    </div>
                    <div class="col-9">
                        <small>{{approved}}</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <hr>
    <div class="col-sm-12">
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead style="background-image: linear-gradient(#FDFEFE ,#BDC3C7);">
                                        <tr>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Ordered</th>
                                            <th>Received</th>
                                            <th>Client Price</th>
                                            <th>Supplier Price</th>
                                            <th>Total Cost</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of grnDetails">
                                            <td>{{d.product.code}}</td>
                                            <td>{{d.product.description}}</td>
                                            <td>{{d.qtyOrdered}}</td>
                                            <td>{{d.qtyReceived}}</td>
                                            <td style="text-align: right;">{{d.clientPriceVatIncl | currency:'':''}}</td>
                                            <td style="text-align: right;">{{d.supplierPriceVatIncl | currency:'':''}}</td>
                                            <td style="text-align: right;">{{d.qtyReceived*d.supplierPriceVatIncl | currency:'':''}}</td>
                                            <td style="text-align: center;"><span *ngIf="status==='PENDING'" style="cursor: pointer;" (click)="open(content, d.id)"><i class="fas fa-pencil"></i></span></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Total</th>
                                            <th style="text-align: right;">{{total | currency:'':''}}</th>
                                            <th></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>   
                <tr>
                    <input type="hidden" [(ngModel)]="detailId">
                    <td style="text-align: right;">Code</td><td style="padding: 0;"><input type="text" [(ngModel)]="product.code" class="form-control special" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Description</td><td style="padding: 0;"><input type="text" [(ngModel)]="product.description" class="form-control special" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Qty Ordered</td><td style="padding: 0;"><input type="text" [(ngModel)]="qtyOrdered" class="form-control special" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Qty Received</td><td style="padding: 0;"><input type="text" [(ngModel)]="qtyReceived" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Client Price @</td><td style="text-align: right;">{{clientPriceVatIncl | currency:'':''}}</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Supplier Price @</td><td style="padding: 0;"><input type="text" [(ngModel)]="supplierPriceVatIncl" class="form-control special" style="text-align: right;"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Total Cost</td><td style="text-align: right;">{{qtyReceived*supplierPriceVatIncl | currency:'':''}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      <button type="button" (click)="saveDetail()" (click)="modal.dismiss('Save click')" class="btn btn-outline-dark">Update</button>
    </div>
</ng-template>


<ng-template #listContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">GRN List</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12" style="height: 10cm; overflow: auto;">
                <table class="table table-bordered">
                    <thead style="position: sticky; top: 0;">
                        <tr class="table-dark">
                            <td>GRN#</td>
                            <td>Status</td>
                            <td>Select</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grn of grns">
                            <td>{{grn.no}}</td>
                            <td>{{grn.status}}</td>
                            <td><span (click)="get(grn.id)" (click)="modal.close('Select click')" style="cursor: pointer;">[Select]</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      
    </div>
</ng-template>