<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Mechandizing | Sales Debts</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div> 
                        <a routerLink="/home"><button class="btn" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="fas fa-home"></i><br>Home</button></a>
                        <button class="btn"style="margin: 2px; width: 30mm;" (click)="createShortCut('Debt Tracker', 'debt-tracker')" data-mdb-toggle="tooltip" title="Create a page shortcut on user's Dashboard"><i class="fas fa-external-link-alt"></i><br>Shortcut</button>
                    </div>
                </div>
                <div class="panel-body" style="padding: 3mm;">
                    <div class="row" [@fadeInOut]>
                        <div class="col">
                            <table style="width: 100%;">
                                <tr style="width: 100%;">
                                    <td style="vertical-align: top; height: 75vh;">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-2"></div>
                                                <div class="col-6">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align: right;">SalesAgent</td>
                                                                <td style="padding: 0;">
                                                                    <input type="text" [(ngModel)]="salesAgentNo" class="form-control special" placeholder="SalesAgent No" readonly>
                                                                    <select [(ngModel)]="salesAgentName" (ngModelChange)="searchSalesAgent(salesAgentName)" class="form-control input-sm">
                                                                        <option></option>
                                                                        <option *ngFor="let c of salesAgentNames">{{c}}</option>
                                                                    </select>
                                                                </td>
                                                            </tr>                        
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <td>Debt No</td><td>Status</td><td>Balance</td><td></td>
                                                            </tr>
                                                            <tr *ngFor="let i of debts">
                                                                <td>{{i.no}}</td>
                                                                <td>{{i.status}}</td>
                                                                <td style="text-align: right;">{{i.balance | currency:'':''}}</td>
                                                                <td><button (click)="open(content, '', '')" (click)="get(i.id)">Transfer to Debt Tracker</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-4"></div>                                      
                                            </div>
                                        </div>                   
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /.content -->

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Transfer to Debt Tracker</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="text-align: right;">Initial Amount</td><td style="padding: 0; text-align: right;"><span style="text-align: right;">{{amount | currency:'':''}}</span></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Current Amount</td><td style="padding: 0; text-align: right;"><span style="text-align: right;">{{balance | currency:'':''}}</span></td>
                </tr>  
                <tr>
                    <td style="text-align: right;">Amount to Transfer</td><td style="padding: 0;"><input type="text" [(ngModel)]="amountToTransfer" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Balance Remaining</td><td style="padding: 0; text-align: right;"><span style="text-align: right;">{{balance | currency:'':''}}</span></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Customer</td>
                    <td style="padding: 0;">
                        <input type="text" [(ngModel)]="customerNo" class="form-control special" placeholder="Customer No" readonly>
                        <select [(ngModel)]="customerName" (ngModelChange)="searchCustomer(customerName)" class="form-control input-sm">
                            <option></option>
                            <option *ngFor="let c of customerNames">{{c}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Officer Incharge</td>
                    <td style="padding: 0;">
                        <input type="text" [(ngModel)]="officerInchargeNo" class="form-control special" readonly>
                        <select [(ngModel)]="officerInchargeName" (ngModelChange)="searchOfficerIncharge(officerInchargeName)" class="form-control input-sm">
                            <option></option>
                            <option *ngFor="let e of salesAgentNames">{{e}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Comments</td><td style="padding: 0;"><textarea class="form-control special"></textarea></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      <button type="button" (click)="modal.close('Save click')" (click)="transfer()" class="btn btn-outline-dark">Transfer</button>
    </div>
</ng-template>