/* You can add global styles to this file, and also import other style files */
@import '~assets/plugins/jquery-ui-1.12.1/jquery-ui.css';
//@import '~assets/bootstrap/css/bootstrap.min.css';
@import '~assets/plugins/lobipanel/lobipanel.min.css';
@import '~assets/plugins/pace/flash.css';
@import '~assets/font-awesome/css/font-awesome.min.css';

@import '~assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css';
@import '~assets/themify-icons/themify-icons.css';
@import '~assets/plugins/toastr/toastr.css';
@import '~assets/plugins/emojionearea/emojionearea.min.css';
@import '~assets/plugins/monthly/monthly.css';
@import '~assets/dist/css/stylehealth.min.css';

.btn {
    border-radius: 5px;
    margin: 2px;
}

@import '~bootstrap/dist/css/bootstrap.css';

.SectionEnclosureBox {
    margin: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: #BDBDBD;
}

.SectionOnBoxHeading{
    margin: 2px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: large;
    color: rgb(160, 182, 201);
    text-align: center;
    font-style: oblique;
    

}

.SectionOnBoxSubHeading{
    margin: 5px;
    padding-left: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px solid #eeeeee;
    background-color: #BDBDBD;
    border: 0x solid #eeeeee;
    font-size: large;
    color: rgb(0, 0, 0);
    text-align: left;
    cursor: pointer;
}

.SectionOnBoxBack{
    margin: 5px;
    padding-left: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px solid #cccccc;
    background-color: #cccccc;
    border: 0px solid #cccccc;
    font-size: small;
    text-align: center; 
    cursor: pointer; 
}

.SectionOnBox {
    margin: 5px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #cccccc;
    border-radius: 3mm;
    background-color: #BDBDBD;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    color: rgb(13, 13, 14);
    margin-left: 6mm;
}

a, .SectionOnBox {
    text-decoration: none;
}

.EnclosureBox {
    margin-top: 0px;   
}

.special{
    height:9mm;
    //border-radius: 0px;
    margin: 2px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.short-cut{
    color: rgb(5, 5, 66);
    cursor: pointer;
}

.table-input {
    td {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
    }
  }

.main-background {
    background-color: #E0E0E0;
}

.primary-background {
    background-color: #E0E0E0;
}

.side-menu-background {
    background-color: #BDBDBD;
}

.header-background {
    background-color: #848484;
}
