<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Mechandizing | Debt Tracker</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div> 
                        <a routerLink="/home"><button class="btn" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="fas fa-home"></i><br>Home</button></a>
                        <button class="btn" (click)="showRunOptions(runOptions)" style="margin: 2px; width: 35mm;" data-mdb-toggle="tooltip" title="Enter Options to filter"><mdb-icon fas icon="filter"></mdb-icon><br>Filter</button>
                        <button class="btn" (click)="exportToPdf()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Export report to PDF"><mdb-icon fas icon="file-pdf"></mdb-icon><br>PDF</button>
                        <button class="btn" (click)="exportToSpreadsheet()" style="margin: 2px; width: 20mm;" data-mdb-toggle="tooltip" title="Export report to Spreadsheet"><mdb-icon fas icon="file-excel"></mdb-icon><br>Excel</button>
                        <button (click)="archiveAll()" class="btn"style="margin: 2px; width: 30mm;" data-mdb-toggle="tooltip" title="Send all Approved Sales List to archives for future reference"><i class="fas fa-file-archive"></i><br>Archive All</button>
                    </div>
                </div>
                <div class="panel-body" style="padding: 3mm;">
                    <div class="row" [@fadeInOut]>
                        <div class="col">
                            <table style="width: 100%;">
                                <tr style="width: 100%;">
                                    <td style="vertical-align: top; height: 75vh;">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table table-bordered table-sm table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>No</td>
                                                                <td>Customer Inf</td>
                                                                <td>Officer Incharge</td>
                                                                <td>Inception Date</td>
                                                                <td>Total Amount</td>
                                                                <td>Amount Paid</td>
                                                                <td>Balance</td>
                                                                <td>Status</td>
                                                                <td>Actions</td>
                                                            </tr>
                                                            <tr *ngFor="let d of debtTrackers">
                                                                <td><small>{{d.no}}</small></td>
                                                                <td><small>{{d.customer.name}}</small></td>
                                                                <td><small>{{d.officerIncharge.name}}</small></td>
                                                                <td><small>{{d.inceptionDay.bussinessDate | date: 'yyyy-MM-dd'}}</small></td>
                                                                <td style="text-align: right;"><small>{{d.amount | currency:'':''}}</small></td>
                                                                <td style="text-align: right;"><small>{{d.paid | currency:'':''}}</small></td>
                                                                <td style="text-align: right;"><small>{{d.balance | currency:'':''}}</small></td>
                                                                <td><small>{{d.status}}</small></td>
                                                                <td><button (click)="openPay(contentPay, '')" (click)="get(d.id)">Pay</button><button (click)="openHistory(history, '')" (click)="loadHistory(d.id)">History</button></td>
                                                            </tr>
                                                            <tr>
                                                                <td><small></small></td>
                                                                <td><small></small></td>
                                                                <td><small></small></td>
                                                                <td><small></small></td>
                                                                <td style="text-align: right;"><small><b>{{totalAmountToPay | currency:'':''}}</b></small></td>
                                                                <td style="text-align: right;"><small><b>{{totalPaid | currency:'':''}}</b></small></td>
                                                                <td style="text-align: right;"><small><b>{{totalBalance | currency:'':''}}</b></small></td>
                                                                <td><small></small></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>                   
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /.content -->

<ng-template #contentPay let-modal style="height: 4cm;">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pay Debt</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="text-align: right;">Debt No</td><td>{{no}}</td>
                </tr>
                <tr>
                    <td style="text-align: right;">Total Amount</td><td style="padding: 0; text-align: right;"><span style="text-align: right;">{{totalAmount | currency:'':''}}</span></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Paid</td><td style="padding: 0; text-align: right;"><span style="text-align: right;">{{paid | currency:'':''}}</span></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Balance</td><td style="padding: 0; text-align: right;"><span style="text-align: right;">{{balance | currency:'':''}}</span></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Amount to Pay</td><td style="padding: 0;"><input type="text" [(ngModel)]="amountToPay" class="form-control special"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="modal.close('Save click')" (click)="pay()" class="btn btn-outline-dark">Pay</button>
    </div>
</ng-template>



<ng-template #history let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Debt History</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12" style="height: 10cm; overflow: auto;">
                <table class="table table-bordered">
                    <thead style="position: sticky; top: 0;">
                        <tr class="table-dark">
                            <td>Date</td>
                            <td>Amount</td>
                            <td>Paid</td>
                            <td>Balance</td>
                            <td>Reference</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let h of histories">
                            <td>{{h.day.bussinessDate | date: 'yyyy-MM-dd'}}</td>
                            <td style="text-align: right;"><small>{{h.amount | currency:'':''}}</small></td>
                            <td style="text-align: right;"><small>{{h.paid | currency:'':''}}</small></td>
                            <td style="text-align: right;"><small>{{h.balance | currency:'':''}}</small></td>
                            <td ><small>{{h.reference}}</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      
    </div>
</ng-template>

<ng-template #runOptions let-modal>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Filter Debt Tracker</h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-2" style="min-width: 50mm;">
                        <span>From</span>
                        <input type="date" [(ngModel)]="from" class="form-control">
                    </div>
                    <div class="col-2" style="min-width: 50mm;">
                        <span>To</span>
                        <input type="date"  [(ngModel)]="to" class="form-control">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="getDebtTrackerReport(from, to)" (click)="modal.close('Run click')" class="btn btn-success" style="margin: 2px;">Run Report</button>
    </div>
</ng-template>