<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title> <span (click)="presentCustomerPopover($event)" style="cursor: pointer;">[<ion-icon slot="start" name="pencil-sharp"></ion-icon>]</span> {{customerName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-card *ngFor="let p of productList" style="margin: 0px; padding: 0px;">
      <ion-card-content style="margin: 0px; padding: 0px;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <b>{{p.qty}}</b> *  [{{p.code}}] {{p.description}} @{{p.sellingPriceVatIncl | currency:'':''}} = {{p.sellingPriceVatIncl*p.qty | currency:'':''}}<br>
              <span (click)="presentEditPopover($event, p.id)" (click)="setRecordMode('edit')">[<ion-icon slot="start" name="pencil-sharp"></ion-icon>]</span>_____
              <span (click)="remove(p.id)">[<ion-icon slot="start" name="trash-sharp"></ion-icon>]</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-footer>
      
      <ion-card *ngIf="totalQty > 0">
        <ion-card-header>
          <ion-card-subtitle>Summary</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">Total Qty: </ion-col>
              <ion-col>{{totalQty}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Total Amount: </ion-col>
              <ion-col style="text-align: right;">{{totalAmount | currency:'':''}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Amount Paid: </ion-col>
              
              <ion-col style="text-align: right; border-color: grey; border-width: 1px;"><ion-input type="number" style="text-align: center; font-size: larger; font-weight: bold; border-width: 1px; border-color: grey;" [(ngModel)]="amountPaid" placeholder="Amount Paid"></ion-input></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Discount: </ion-col>
              
              <ion-col style="text-align: right;"><ion-input type="number" style="text-align: right;" [(ngModel)]="discount" placeholder="Discount"></ion-input></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6"><button (click)="calculateAmounts()">Amount Due</button></ion-col>
              <ion-col style="text-align: right;">{{amountDue | currency:'':''}}</ion-col>
            </ion-row>

            <hr>

            <ion-row *ngIf="totalAmount === (amountPaid + discount + amountDue) && amountDue >= 0">
              <ion-col></ion-col>
              <ion-col><ion-button (click)="confirmSale()" size="medium" color="primary" expand="full"><ion-icon slot="start" name="save-sharp"></ion-icon>Confirm Sale</ion-button></ion-col>
              <ion-col></ion-col>
            </ion-row>

            <ion-row>
              <ion-col></ion-col>
              <ion-col><ion-button (click)="cancelSale()" size="medium" color="danger" expand="full"><ion-icon slot="start" name="close-sharp"></ion-icon>Cancel Sale</ion-button></ion-col>
              <ion-col></ion-col>
            </ion-row>
            
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-footer>


    <br><br><br>
    <ion-card *ngIf="totalQty === 0">
      <ion-card-content>
        <ion-grid>
          No data!
        </ion-grid>
      </ion-card-content>
    </ion-card>


    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title >Add/Edit Product</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <div class="input-group">
              <input type="search" class="form-control rounded" placeholder="Description" [(ngModel)]="description" list="descriptions" aria-label="Search" aria-describedby="search-addon" />
              <span *ngIf="description != ''" class="btn btn-outline-primary" (click)="clearProduct()"><ion-icon name="close-sharp"></ion-icon></span>
              <button type="button" class="btn btn-outline-primary" (click)="searchByDescription(description)">Search</button>
            </div>
            <datalist id="descriptions" style="padding: 0px;">
              <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
            </datalist> 
          </ion-item>

          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="4">Barcode: </ion-col>
                  <ion-col>{{barcode}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">Code: </ion-col>
                  <ion-col>{{code}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">Description: </ion-col>
                  <ion-col>{{description}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">Price@: </ion-col>
                  <ion-col>{{sellingPriceVatIncl | currency:'':''}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">Available: </ion-col>
                  <ion-col>{{available}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <ion-grid>
            <ion-row>
              <ion-col style="text-align: right;">
                <button (click)="decrement()">DEC</button>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input type="number" [(ngModel)]="qty" (ngModelChange)="refreshQty()" style="text-align: center;" placeholder="Qty"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <button (click)="increment()">INC</button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-content>
        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button *ngIf="qty > 0" (click)="confirm()" [strong]="true" (click)="addEditProduct()">Add/Update</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>

    <ion-popover trigger="open-edit" triggerAction="click" size="auto">
      <ng-template>
        
        <ion-content>
          
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input type="text" [(ngModel)]="customerLocation" style="text-align: center;" placeholder="Customer Location"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-popover>

    

  </ion-content>


  <ion-fab slot="fixed" horizontal="left" vertical="bottom">
    <ion-fab-button id="open-modal" expand="block" (click)="clearProduct()" (click)="setRecordMode('add')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title >Set Customer</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" [(ngModel)]="customerName" style="text-align: center;" placeholder="Customer Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" [(ngModel)]="customerMobile" style="text-align: center;" placeholder="Customer Mobile"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" [(ngModel)]="customerLocation" style="text-align: center;" placeholder="Customer Location"></ion-input>
            </ion-item>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="dismissCustomerPopover($event)">Set</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>   
  </ng-template>
</ion-popover>


<ion-popover #productPopover [isOpen]="isProductOpen" (didDismiss)="isProductOpen = false">
  <ng-template style="width: auto;">
    <ion-header>
      <ion-toolbar>
        <ion-title >Edit Product</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" [(ngModel)]="description" readonly="true"></ion-input>
            </ion-item>
            <ion-item>
              Available : <ion-input type="text" [(ngModel)]="available" readonly="true"></ion-input>
            </ion-item>
            <ion-item>
              <button (click)="decrement()">DEC</button><ion-input type="number" [(ngModel)]="qty" style="text-align: center;"></ion-input><button (click)="increment()">INC</button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="confirmEditPopover($event, productId)">Update</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-popover>










