<div class="row" [@fadeInOut]>
    <div class="col-sm-12" style="text-align: center;">
        <h6>Inventory | Product Mass Manager</h6>
    </div>
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <br><br>
                                <div class="alert alert-info" role="alert">
                                    <span>Progress: {{progressStatus}} {{currentRecord}} of {{totalRecords}}</span>
                                    <hr>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Upload Products from file</td>
                                                <td><input type="file" (change)="uploadProductFile($event)" multiple="false"></td>
                                            </tr>
                                            <tr>
                                                <td>Update Products from file</td>
                                                <td><input type="file" (change)="updateProductFile($event)" multiple="false"></td>
                                            </tr>
                                            <tr>
                                                <td>Update Inventory from file</td>
                                                <td><input type="file" (change)="updateInventoryFile($event)" multiple="false"></td>
                                            </tr>
                                            <tr>
                                                <td>Update Prices from file</td>
                                                <td><input type="file" (change)="updatePricingFile($event)" multiple="false"></td>
                                            </tr>
                                            <tr>
                                                <td>Download Product file</td>
                                                <td><button (click)="exportProductToExcel()">Download</button></td>
                                            </tr>
                                            <tr>
                                                <td>Download Product file Template</td>
                                                <td><button (click)="exportTemplateToExcel()">Download</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-2"></div>                                      
                        </div>
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
</div>
